<% if notice %>
	<div class="alert alert-info alert-dismissable fade in">
  		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  		<strong><%= notice %></strong>
	</div>
<% end %>
<% if alert %>
	<div class="alert alert-danger alert-dismissable fade in">
  		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  		<strong><%= alert %></strong>
	</div>
<% end %>